@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hypecrux";
  src: url(./assets/extenda-30-deca.otf);
}
@font-face {
  font-family: "hypecrux2";
  src: url(./assets/aileron.zip);
}
@font-face {
  font-family: "hypecrux3";
  src: url(./assets/league-spartan.zip);
}

* {
  font-family: hypecrux, hypecrux2, hypecrux3;
  
}
